		.input{
			color: black;
		}
		body, html{
				background: linear-gradient(#000, #448049) repeat scroll 0% 0%;
				background: url(../img/background.png) repeat;
				background: url(../img/paper1.jpg) repeat;
			
				font-family: sans-serif;
				margin:0;
				padding;0;
				height: 100%;
		 }
		 /*making whole thing to be in Single page*/
			#wrapper{
				height:100%;
			}
			
			#header{
				/*background: url(../img/paper.gif) repeat;*/
				height: 10%;	
				text-align: center;			
			}
			
			#item{
				height:70%;		
				text-align: center;
			}
			
			#footer{
				height: 8%;
				margin:0;
				padding:0;
				width: 100%;
				background-color: #85AD2D;	
				text-align: center;		
				background: url(../img/yellow.jpg) repeat;
			}
		
		/*.form-horizontal{
			border: 2px solid green;		
		}*/
		
		#first{
			margin-top: 25px;		
		}
		
		fieldset.scheduler-border {
			color:#E2FFD7;
			font-weight: bolder;
			background:transparent linear-gradient(#473613, #B4F5BA) repeat scroll 0% 0%;
		  	background: url(../img/yellow.jpg) repeat;
		  	background: url(../img/background.png) repeat;
		  	background: url(../img/yellow.jpg) repeat;
		  	border: 2px groove #C4E7C4 !important;
		    padding: 0 1.4em 1.4em 1.4em !important;
			margin-top: 40px;
		    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
		}

		.form-control{
			height: 32px;
			font-size: 13px;
			font-weight: initial;
			background-color: rgb(227, 237, 210);
			border: 2px solid #A7AA4F;
		}

		legend.scheduler-border {
			color:#596E16;
		    width:inherit; /* Or auto */
		    padding:0 10px; /* To give a bit of padding on the left and right */
		    border-bottom:none;
		}
/*carousel*/
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }


#navi > li  a {
  margin-right: 2px;
  padding-right:50px;
  padding-left: 50px;
  padding-bottom: 5px;
  padding-top: 5px;
  line-height: 1.42857143;
  color:#E2FFD7;
}

#header h2{
	text-align: center;
}

#header{
	width: 100%;
}

#navi li{
	background:transparent linear-gradient(#557A2E, #0D110E) repeat scroll 0% 0%;
	background: url(../img/yellow.jpg) repeat;
	margin-right: 4px;
}


#navi li a:hover{
	background:transparent linear-gradient(#20231D, #21983F) repeat scroll 0% 0% ;
	background:url(../img/brown.gif) repeat;
	color:#E0FEDB ; 
	font-weight: bold; 
}

#navi li:hover{
	background:transparent linear-gradient(#20231D, #21983F) repeat scroll 0% 0% ;
	background:url(../img/brown.gif) repeat;
	color:#E0FEDB ; 
	font-weight: bold; 
}

#navi > li.active > a,
#navi > li.active > a:hover,
#navi > li.active > a:focus {
  color: #555;
  cursor: default;
  color:#E0FEDB ;
  font-weight: bold;
  background:url(../img/brown.jpg) repeat;
}

/*footer section*/


#detail{
	color: #fff;
}

/*detail TABLE*/

.table{
	color: white;
	background-color: #2F1D2C;
	background: url(../img/background.png) repeat;
	background: url(../img/yellow.jpg) repeat;
	margin-top: 40px;
	border: 1px solid #DDD;
}

.table td{

	border-top: none;
	border-right: 1px solid #DDD;
	margin-right: 17px
}

.first_col{
	font-weight: bold;
	font-family: sans-serif;
	width:50%;
}

.sec_col{
	width:50%;	
	font-family: sans-serif groove;
}

.nav-tabs{
	border-bottom: 2px solid #131512;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: sans-serif;
  color: black;
}